@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }

    .italiano{
        font-family: 'Italianno', cursive;
    }
  }


  .open {
    animation: fade-in 250ms forwards;
  }

  .close {
    animation: fade-out 250ms forwards;
  }

  @keyframes fade-in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
  }

  @keyframes fade-out {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
  }


  .out{
    /* fill: none; */
  stroke: #646464;
  stroke-width: 1px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
  }

  

  .app{
    /* max-width: 2500px; */
    margin-left: auto;
    margin-right: auto;

  }

  .share{
      flex-basis: 100px;
      flex-grow: 0;
      flex-shrink: 0;
  }